{
	"openapi": "3.0.1",
	"info": {
		"title": "transaction-document",
		"description": "Service API for TDM Document handling. Copyright 2020 NCR Corporation",
		"contact": {},
		"license": {
			"name": "NCR Corporation - Copyright 2020"
		},
		"version": "2.42.0-1-20230428132344-9bcded3"
	},
	"servers": [
		{
			"url": "https://api.ncr.com/transaction-document/v2"
		}
	],
	"tags": [
		{
			"name": "/transaction-documents",
			"description": "Service API for TDM Document handling."
		},
		{
			"name": "/providers",
			"description": "Service for provisioning raw transaction providers."
		},
		{
			"name": "/subscriptions",
			"description": "Service for provisioning webhook subscriptions to TDM topics."
		}
	],
	"paths": {
		"/providers/versions": {
			"post": {
				"tags": [
					"/providers"
				],
				"summary": "Create Provider",
				"description": "Creates a raw transaction provider version for the provided provider name and version. The provided functions need to exist for the provider to be created.",
				"operationId": "createProvider",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateProviderRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Provider version successfully created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProviderViewData"
								}
							}
						}
					},
					"400": {
						"description": "A payload constraint violation occurred.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"403": {
						"description": "Insufficient Privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"409": {
						"description": "Provider version already exists for the name and version",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceAlreadyExistsException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_PROVIDER_CREATE"
					]
				}
			}
		},
		"/providers/{name}/custom-properties": {
			"get": {
				"tags": [
					"/providers"
				],
				"summary": "Get All Custom Properties",
				"description": "Gets all custom properties of specified provider.",
				"operationId": "getCustomProperties",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "pageNumber",
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 0
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 200
						}
					},
					{
						"name": "name",
						"in": "path",
						"description": "The provider name to be used when reading custom properties.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Custom Properties successfully retrieved.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetCustomPropertyResponse"
								}
							}
						}
					},
					"400": {
						"description": "A payload constraint violation occurred.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"403": {
						"description": "Insufficient Privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_CUSTOM_PROPERTY_GET_ALL"
					]
				}
			},
			"post": {
				"tags": [
					"/providers"
				],
				"summary": "Create Custom Property",
				"description": "Creates a custom property for the provided provider name. ",
				"operationId": "createCustomProperty",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "name",
						"in": "path",
						"description": "The name of the provider",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "The name of the provider."
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CustomPropertyData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "custom property successfully created.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CustomPropertyViewData"
								}
							}
						}
					},
					"400": {
						"description": "A payload constraint violation occurred.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"403": {
						"description": "Insufficient Privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"409": {
						"description": " already exists for the name",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceAlreadyExistsException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_CUSTOM_PROPERTY_CREATE"
					]
				}
			}
		},
		"/providers/{name}/custom-properties/{customPropertyName}": {
			"delete": {
				"tags": [
					"/providers"
				],
				"summary": "Delete Custom Property",
				"description": "Deletes a custom property.",
				"operationId": "deleteCustomProperty",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "customPropertyName",
						"in": "path",
						"description": "The name of the custom property",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "The name of the custom property."
						}
					},
					{
						"name": "name",
						"in": "path",
						"description": "The name of the provider",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "The name of the provider."
						}
					}
				],
				"responses": {
					"204": {
						"description": "Custom Property successfully deleted."
					},
					"400": {
						"description": "A payload constraint violation occurred.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"403": {
						"description": "Insufficient Privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Custom property for the name does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_CUSTOM_PROPERTY_DELETE"
					]
				}
			}
		},
		"/providers/{name}/versions/{version}": {
			"get": {
				"tags": [
					"/providers"
				],
				"summary": "Get Provider",
				"description": "Gets a provider version by name and version.",
				"operationId": "getProviderVersion",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "name",
						"in": "path",
						"description": "The name of the provider",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "The name of the provider."
						}
					},
					{
						"name": "version",
						"in": "path",
						"description": "The version of the provider",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "The version of the provider."
						}
					}
				],
				"responses": {
					"200": {
						"description": "Provider version successfully retrieved.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProviderViewData"
								}
							}
						}
					},
					"400": {
						"description": "A payload constraint violation occurred.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"403": {
						"description": "Insufficient Privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Provider version for the name and version does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_PROVIDER_GET"
					]
				}
			},
			"put": {
				"tags": [
					"/providers"
				],
				"summary": "Update Provider",
				"description": "Updates a raw transaction provider version for the provided provider name and version. The provided functions should exist for the provider to be updated.",
				"operationId": "updateProviderVersion",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "name",
						"in": "path",
						"description": "The name of the provider",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "The name of the provider."
						}
					},
					{
						"name": "version",
						"in": "path",
						"description": "The version of the provider",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "The version of the provider."
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ProviderData"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Provider successfully updated.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ProviderViewData"
								}
							}
						}
					},
					"400": {
						"description": "A payload constraint violation occurred.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"403": {
						"description": "Insufficient Privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Provider version for the name and version does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_PROVIDER_UPDATE"
					]
				}
			},
			"delete": {
				"tags": [
					"/providers"
				],
				"summary": "Delete Provider",
				"description": "Deletes a provider version by name and version.",
				"operationId": "deleteProviderVersion",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "name",
						"in": "path",
						"description": "The name of the provider",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "The name of the provider."
						}
					},
					{
						"name": "version",
						"in": "path",
						"description": "The version of the provider",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "The version of the provider."
						}
					}
				],
				"responses": {
					"204": {
						"description": "Provider version successfully deleted."
					},
					"400": {
						"description": "A payload constraint violation occurred.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"403": {
						"description": "Insufficient Privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Provider version for the name and version does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_PROVIDER_DELETE"
					]
				}
			}
		},
		"/subscriptions": {
			"get": {
				"tags": [
					"/subscriptions"
				],
				"summary": "Get subscriptions",
				"description": "Retrieves the paginated subscriptions",
				"operationId": "getSubscriptions",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "pageNumber",
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 0
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 200
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/FindTdmSubscriptionResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_SUBSCRIPTION_GET_ALL"
					]
				}
			},
			"post": {
				"tags": [
					"/subscriptions"
				],
				"summary": "Create subscription",
				"description": "Create subscription to specific TDM service topics",
				"operationId": "createSubscription",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateTdmSubscriptionRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TdmSubscriptionViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_SUBSCRIPTION_CREATE"
					]
				}
			}
		},
		"/subscriptions/{name}": {
			"get": {
				"tags": [
					"/subscriptions"
				],
				"summary": "Get subscription",
				"description": "Retrieves the specified subscription",
				"operationId": "getSubscription",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TdmSubscriptionViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_SUBSCRIPTION_GET"
					]
				}
			},
			"delete": {
				"tags": [
					"/subscriptions"
				],
				"summary": "Delete subscription",
				"description": "Deletes the specified subscription",
				"operationId": "deleteSubscription",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "name",
						"in": "path",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Success"
					},
					"400": {
						"description": "Bad Request: The request is invalid",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessException"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/InvalidCredentialsException"
								}
							}
						}
					},
					"403": {
						"description": "Access denied due to insufficient privileges",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccessDeniedException"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ResourceDoesNotExistException"
								}
							}
						}
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_SUBSCRIPTION_DELETE"
					]
				}
			}
		},
		"/transaction-documents": {
			"get": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Get Multiple Canonicals",
				"description": "Finds and returns a batch of TLogs at once based on the ids.",
				"operationId": "getCanonicalTlogsByIds",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response, this endpoint only returns application/json as response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "id",
						"in": "query",
						"description": "the id of the tLog.",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"maxItems": 100,
							"minItems": 1,
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetMultipleCanonicalTLogsResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "Not found:  The document was not found."
					},
					"500": {
						"description": "Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"R1_TDM_VIEWER"
					]
				}
			},
			"put": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Update Canonical",
				"description": "Updates one or more TDM Documents in canonical format. Requires a tlog version to be provided; the most recent tlog needs to have the greatest version. Older versions can be accessed using Get Versioned Canonical API.",
				"operationId": "updateCanonicalTransaction",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response, this endpoint only returns application/json as response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "The media type of the entity-body, this endpoint only allows application/json as body",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateCanonicalTLogDataRequest"
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "Success: Received the document"
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_UPLOAD"
					]
				}
			},
			"post": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Save Canonical",
				"description": "Saves one or more Canonical TDM Documents. Accepts one or multiple Canonical TDM json bodies and saves them in TDM. Transaction will be saved in provided organization (nep-organization header) or user's organization if header is not provided",
				"operationId": "saveCanonical",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "The media type of the entity-body, this endpoint only allows application/json as body",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "tdm-migration",
						"in": "header",
						"description": "If this is set to true, this save request is part of a migration and publishing will not occur.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "boolean",
							"default": false
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SaveCanonicalTLogDataRequest"
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "Success: Received the document"
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_UPLOAD"
					]
				}
			}
		},
		"/transaction-documents/find": {
			"post": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Find Transactions",
				"description": "Finds TDM documents matching the specified criteria. Returned list contains a tlog metadata instead of the whole tlog.",
				"operationId": "findByQueryCriteria",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response, this endpoint only returns application/json as response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "The media type of the entity-body, this endpoint only allows application/json as body",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					}
				],
				"requestBody": {
					"description": "The class containing the fields to search by.",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/FindTLogRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "response object containing a page of search results",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/FindTLogResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "No documents found"
					},
					"500": {
						"description": "Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"R1_TDM_VIEWER"
					]
				}
			}
		},
		"/transaction-documents/find/count": {
			"post": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Count Transactions",
				"description": "Finds TDM documents matching the specified criteria and returns the count.",
				"operationId": "getCountByCriteria",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response, this endpoint only returns application/json as response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "The media type of the entity-body, this endpoint only allows application/json as body",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					}
				],
				"requestBody": {
					"description": "request the search criteria",
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/FindTLogRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Response object containing the document count.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TLogCountResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "No documents found"
					},
					"500": {
						"description": "Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"R1_TDM_VIEWER"
					]
				}
			}
		},
		"/transaction-documents/raw": {
			"put": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Update Raw",
				"description": "Updates one or more TDM documents using json with base64 encoded tlogs of any format. The providerName and providerVersion parameters must be specified and will be used to determine which type of formatter/parser to use. Requires a tlog version to be provided; the most recent tlog needs to have the greatest version. Older versions can be accessed using Get Versioned Raw API.",
				"operationId": "updateRawTransaction",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response, this endpoint only returns application/json as response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "The media type of the entity-body, this endpoint only allows application/json as body",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "providerName",
						"in": "query",
						"description": "The provider name to be used when locating a parser.<br/><b>Required when saving or updating a raw tlog.",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "providerVersion",
						"in": "query",
						"description": "The provider version to be used when locating a parser.<br/><b>Required when saving or updating a raw tlog.",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateRawTLogDataRequest"
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"500": {
						"description": "Internal Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_UPDATE"
					]
				}
			},
			"post": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Save Raw",
				"description": "Saves one or more raw/native documents using json with base64 encoded tlogs of any format. The providerName and providerVersion parameters must be specified and will be used to determine which type of formatter/parser to use.  Transaction will be saved in provided organization (nep-organization header) or user's organization if header is not provided.",
				"operationId": "saveRawTransaction",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "The media type of the entity-body, this endpoint only allows application/json as body",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "providerName",
						"in": "query",
						"description": "The provider name to be used when locating a parser.<br/><b>Required when saving or updating a raw tlog.",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "providerVersion",
						"in": "query",
						"description": "The provider version to be used when locating a parser.<br/><b>Required when saving or updating a raw tlog.",
						"required": true,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "tdm-migration",
						"in": "header",
						"description": "If this is set to true, this save request is part of a migration and publishing will not occur.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "boolean",
							"default": false
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SaveRawTLogDataRequest"
							}
						}
					}
				},
				"responses": {
					"204": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"500": {
						"description": "Internal Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_UPLOAD"
					]
				}
			}
		},
		"/transaction-documents/{id}": {
			"get": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Get Canonical",
				"description": "Retrieves a Canonical TLog based on the tlog id.",
				"operationId": "getCanonicalTlogById",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response, this endpoint only returns application/json as response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "id",
						"in": "path",
						"description": "The id of the TLog.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CanonicalTLogViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "Not found:  The document was not found."
					},
					"500": {
						"description": "Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"R1_TDM_VIEWER"
					]
				}
			}
		},
		"/transaction-documents/{id}/linked-documents": {
			"get": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Get Canonical Linked Transactions",
				"description": "Returns the documents (TLogs) that specified tlog links to.",
				"operationId": "getLinkedCanonicalDocuments",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response, this endpoint only returns application/json as response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "pageNumber",
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 0
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 200
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The Id of the tlog to retrieve the raw documents linked to specific TLog.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "Id for the Linked TLog Request"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Returns the set of canonical tlogs whose id's are linked to this tlog, specified by id.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedCanonicalTLogResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "Not found:  The document was not found."
					},
					"500": {
						"description": "Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"R1_TDM_VIEWER"
					]
				}
			}
		},
		"/transaction-documents/{id}/linked-documents/raw": {
			"get": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Get Raw Linked Transactions",
				"description": "Returns the raw documents (TLogs) that specified tlog links to.",
				"operationId": "getLinkedRawDocuments",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "text/plain, text/xml, text/html, application/json, etc."
					},
					{
						"name": "pageNumber",
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 0
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 200
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The Id of the tlog to retrieve the raw documents linked to specific TLog.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "Id for the Linked TLog Request"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Returns the set of raw tlogs whose id's are linked to this tlog, specified by id.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LinkedRawTLogContentResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "Not found:  The document was not found."
					},
					"500": {
						"description": "Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"R1_TDM_VIEWER"
					]
				}
			}
		},
		"/transaction-documents/{id}/raw": {
			"get": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Get Raw",
				"description": "Retrieves a raw/native TLog based on the tlog id.",
				"operationId": "getRawTlogById",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "text/plain, text/xml, text/html, application/json, etc."
					},
					{
						"name": "id",
						"in": "path",
						"description": "The id of the TLog.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success: Response object containing the result.",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "Not found:  The document was not found."
					},
					"500": {
						"description": "Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"R1_TDM_VIEWER"
					]
				}
			}
		},
		"/transaction-documents/{id}/receipt": {
			"get": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Get Receipt",
				"description": "Retrieves receipt image by TLog id. Returns the receipt image for a specified document (Tlog).",
				"operationId": "getReceiptInfoById",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response, this endpoint only returns application/json as response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "id",
						"in": "path",
						"description": "The id of the TLog.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "ReceiptInfo object containing (possibly encoded) receipt image",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ReceiptInfo"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "Not found:  The document was not found."
					},
					"500": {
						"description": "Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"R1_TDM_VIEWER"
					]
				}
			}
		},
		"/transaction-documents/{id}/scrub": {
			"put": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Scrub Personal Data",
				"description": "Scrubs all personal data from a tlog and returns it based on the id",
				"operationId": "scrubPersonalData",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The id of the TLog.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Successfully scrubbed",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CanonicalTLogViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "Not found:  The document was not found."
					},
					"500": {
						"description": "Internal server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"TDM_SCRUB"
					]
				}
			}
		},
		"/transaction-documents/{id}/versions": {
			"get": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Get Tlog Versions",
				"description": "Finds and returns all versions of a TLog based on the tlog id.",
				"operationId": "getAllTLogVersionsById",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response, this endpoint only returns application/json as response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "pageNumber",
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 0
						}
					},
					{
						"name": "pageSize",
						"in": "query",
						"required": false,
						"style": "form",
						"explode": true,
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 200
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The Id of the tlog to retrieve all its available versions.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "The id of the requested TLog"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/GetTLogVersionsResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "Not found:  The document was not found."
					},
					"500": {
						"description": "Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"R1_TDM_VIEWER"
					]
				}
			}
		},
		"/transaction-documents/{id}/versions/{version}": {
			"get": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Get Versioned Canonical",
				"description": "Finds and returns a version of canonical TLog based on the id and a version.",
				"operationId": "getCanonicalTLogVersionById",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response, this endpoint only returns application/json as response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "application/json"
					},
					{
						"name": "id",
						"in": "path",
						"description": "The id of the TLog.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "Primary unique opaque identification of the transaction"
						}
					},
					{
						"name": "version",
						"in": "path",
						"description": "The version of the requested TLog to retrieve a single TLog.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "integer",
							"description": "The version of the requested TLog to retrieve",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CanonicalTLogViewData"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized: The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "Not found: The document was not found."
					},
					"500": {
						"description": "Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"R1_TDM_VIEWER"
					]
				}
			}
		},
		"/transaction-documents/{id}/versions/{version}/raw": {
			"get": {
				"tags": [
					"/transaction-documents"
				],
				"summary": "Get Versioned Raw",
				"description": "Finds and returns a version of raw TLog based on the id and a version.",
				"operationId": "getRawTLogVersionById",
				"parameters": [
					{
						"name": "nep-organization",
						"in": "header",
						"description": "Used to access data for a specific tenant. This is also used to specify the login organization for a user in a tenant. If not provided, the user's parent organization is used.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "nep-service-version",
						"in": "header",
						"description": "Identifies the application version to route the incoming request.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "2:1"
					},
					{
						"name": "nep-application-key",
						"in": "header",
						"description": "Application key that identifies the calling application.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Accept",
						"in": "header",
						"description": "Media types which are acceptable for the response",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "text/plain, text/xml, text/html, application/json, etc."
					},
					{
						"name": "id",
						"in": "path",
						"description": "The id of the TLog.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string",
							"description": "Primary unique opaque identification of the transaction"
						}
					},
					{
						"name": "version",
						"in": "path",
						"description": "The version of the requested TLog to retrieve a single TLog.",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "integer",
							"description": "The version of the requested TLog to retrieve",
							"format": "int64"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Success: Response object containing the result.",
						"content": {
							"*/*": {
								"schema": {
									"type": "string"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request: The request is invalid"
					},
					"401": {
						"description": "Unauthorized:  The request requires user authentication."
					},
					"403": {
						"description": "Insufficient Privileges"
					},
					"404": {
						"description": "Not found:  The document was not found."
					},
					"500": {
						"description": "Server error"
					},
					"503": {
						"description": "Service unavailable"
					}
				},
				"x-authorities": {
					"roles": [
						"R1_TDM_VIEWER"
					]
				}
			}
		}
	},
	"components": {
		"schemas": {
			"AccessDeniedException": {
				"type": "object",
				"properties": {
					"businessMessage": {
						"type": "string"
					},
					"details": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"errorType": {
						"type": "string"
					}
				}
			},
			"AccountTypeInfo": {
				"type": "object",
				"properties": {
					"accountType": {
						"type": "string",
						"description": "Type of the account either employee, drawer, safe, paid, bank_in_out",
						"enum": [
							"EMPLOYEE",
							"DRAWER",
							"SAFE",
							"BANK",
							"PAID_IN_OUT"
						]
					},
					"bankAccountNumber": {
						"type": "string",
						"description": "Bank account number if bank is involved"
					},
					"depositBagId": {
						"type": "string",
						"description": "Identification of a deposit bag if bank deposit box is involved. Money is put in a deposit bag and thrown into a safe box."
					},
					"id": {
						"type": "string",
						"description": "Identification of the related entity. Meaning is dependent on the account type."
					}
				},
				"description": "Account Type Information associated with the Transaction."
			},
			"AccountabilityInfo": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "ID of the Account"
					},
					"name": {
						"type": "string",
						"description": "Name of the Account"
					}
				},
				"description": "Information on the POS/Terminal/Cashier accountability for this transaction."
			},
			"AddressInfo": {
				"type": "object",
				"properties": {
					"countryCode": {
						"type": "string",
						"description": "Country identification as in ISO 3166-1 alpha 2."
					},
					"formattedAddress": {
						"type": "string",
						"description": "Full address usable to post a letter."
					}
				},
				"description": "Address Information associated with the Transaction."
			},
			"AdvancePassengerInfo": {
				"required": [
					"countryOfResidence",
					"passports"
				],
				"type": "object",
				"properties": {
					"countryOfResidence": {
						"$ref": "#/components/schemas/CountryOfResidenceInfo"
					},
					"emergencyContact": {
						"$ref": "#/components/schemas/EmergencyContactInfo"
					},
					"knownTravelerNumber": {
						"$ref": "#/components/schemas/KnownTravelerNumberInfo"
					},
					"passports": {
						"maxItems": 2147483647,
						"minItems": 1,
						"type": "array",
						"description": "The passports.",
						"items": {
							"$ref": "#/components/schemas/PassportInfo"
						}
					},
					"redressNumber": {
						"$ref": "#/components/schemas/RedressNumberInfo"
					},
					"residentCard": {
						"$ref": "#/components/schemas/ResidentCardInfo"
					},
					"usDestinationAddress": {
						"$ref": "#/components/schemas/UsDestinationAddressInfo"
					},
					"visas": {
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/VisaInfo"
						}
					}
				},
				"description": "The AdvancePassengerInfo class contains the details of all the optional and mandatory international documents of a passenger traveling in any international flight segment."
			},
			"AirlineInfo": {
				"required": [
					"code",
					"name",
					"subsidiaryCode"
				],
				"type": "object",
				"properties": {
					"code": {
						"pattern": "[a-zA-Z0-9]{2}",
						"type": "string",
						"description": "The airline code."
					},
					"name": {
						"pattern": "[a-zA-Z\\s]{2,500}",
						"type": "string",
						"description": "The airline name."
					},
					"subsidiaryCode": {
						"type": "string",
						"description": "The airline subsidiary code."
					}
				},
				"description": "The Class AirlineInfo"
			},
			"ApexTransaction": {
				"required": [
					"reservation"
				],
				"type": "object",
				"properties": {
					"mktSysData": {
						"$ref": "#/components/schemas/MktSysDataInfo"
					},
					"reservation": {
						"$ref": "#/components/schemas/ReservationInfo"
					}
				},
				"description": "Apex Transaction for Travel use cases"
			},
			"AuthenticationData": {
				"required": [
					"authenticationType",
					"credentials"
				],
				"type": "object",
				"properties": {
					"authenticationType": {
						"type": "string",
						"enum": [
							"BASIC"
						]
					},
					"credentials": {
						"maxLength": 500,
						"minLength": 1,
						"type": "string"
					}
				},
				"description": "Authentication credentials needed for endpoint"
			},
			"BagInfo": {
				"required": [
					"bagId",
					"bagTagIssued",
					"weight"
				],
				"type": "object",
				"properties": {
					"bagId": {
						"pattern": "[a-zA-Z0-9]{1,10}",
						"type": "string",
						"description": "The bag id"
					},
					"bagTagIssued": {
						"type": "boolean",
						"description": "The bag tag issued."
					},
					"weight": {
						"$ref": "#/components/schemas/WeightInfo"
					}
				},
				"description": "The bag info class."
			},
			"BlendInfo": {
				"type": "object",
				"properties": {
					"blendPercent": {
						"type": "integer",
						"description": "Blend percentage associated with the transaction",
						"format": "int32"
					},
					"dispensedVolume": {
						"$ref": "#/components/schemas/QuantityInfo"
					}
				},
				"description": "Information to track blend ratios"
			},
			"BusinessException": {
				"type": "object",
				"properties": {
					"businessMessage": {
						"type": "string"
					},
					"details": {
						"type": "array",
						"items": {
							"type": "string"
						}
					},
					"errorType": {
						"type": "string"
					}
				}
			},
			"CanonicalTLogData": {
				"required": [
					"dataProviderName",
					"dataProviderVersion",
					"openDateTimeUtc",
					"siteInfo",
					"tlog",
					"touchPointId",
					"transactionCategory",
					"transactionNumber"
				],
				"type": "object",
				"properties": {
					"businessDay": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"closeDateTimeUtc": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"configurationDateTimeUtc": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"customProperties": {
						"type": "object",
						"additionalProperties": {
							"type": "object",
							"description": "Custom Properties contains a list of fields that is unique to a data provider. Each data provider may have their own list of fields very specific to them. Fields appearing are not in global TDM model and are not part of it for all the maps"
						},
						"description": "Custom Properties contains a list of fields that is unique to a data provider. Each data provider may have their own list of fields very specific to them. Fields appearing are not in global TDM model and are not part of it for all the maps"
					},
					"dataProviderName": {
						"type": "string",
						"description": "Name of the originating system or channel that provided the transaction. e.g. 'Aloha'"
					},
					"dataProviderVersion": {
						"type": "string",
						"description": "Version of the originating system or channel that provided the transaction. e.g. '16.2'"
					},
					"documentExpirationDate": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"id": {
						"pattern": "[0-9a-zA-Z-]+",
						"type": "string",
						"description": "Primary unique opaque identification of the transaction"
					},
					"isTrainingMode": {
						"type": "boolean",
						"description": "Flag indicating training mode. Allows this document to be excluded from data processing."
					},
					"linkedTransactions": {
						"type": "array",
						"description": "List of linked (related) transactions",
						"items": {
							"$ref": "#/components/schemas/LinkedTransactionInfo"
						}
					},
					"modelVersion": {
						"type": "integer",
						"description": "Version of the model.",
						"format": "int32"
					},
					"openDateTimeUtc": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"participatingTouchPoints": {
						"type": "array",
						"description": "List of touch points participating with the transaction.",
						"items": {
							"$ref": "#/components/schemas/TouchPointInfo"
						}
					},
					"siteInfo": {
						"$ref": "#/components/schemas/SiteInfo"
					},
					"tlog": {
						"$ref": "#/components/schemas/CanonicalTransaction"
					},
					"touchPointGroup": {
						"type": "string",
						"description": "A logical grouping of touch point. A Touchpoint can be any client, e.g. a POS Terminal, Self Checkout."
					},
					"touchPointId": {
						"type": "string",
						"description": "The ID of the last terminal / touch point / POS id where the transaction occurred. Unique within the site."
					},
					"touchPointType": {
						"type": "string",
						"description": "The last front end register type in which the transaction was performed such as: POS, Mobile, e-Commerce, fuel POS etc."
					},
					"transactionAccountability": {
						"$ref": "#/components/schemas/AccountabilityInfo"
					},
					"transactionCategory": {
						"type": "string",
						"description": "The category of the transaction.\n SALE_OR_RETURN - are transaction that deals with sale or return of items.\n CONTROL - this transaction mainly deals with non-monetary related transactions like Cashier checking in to a POS.\n CASH_OFFICE - deals with movement of money from one location to another. \n APEX_TRANSACTION - transaction that captures travel information. \n TANK_FUEL_READING_TRANSACTION - transaction that captures information related to Tank readings. \n PUMP_FUEL_READING_TRANSACTION - transaction that captures information related to Pump readings. \n FUEL_DELIVERY_TRANSACTION - transaction that captures information related to Tank deliveries. \nPUMP_FUEL_TEST_TRANSACTION - transaction captures information related to Pump testing and calibrations. \nCUSTOM_TRANSACTION - A custom transaction that can represent transactions from POS that are not \nrepresented by other transaction categories. Contains data that is not part of TDM model and that is custom to each data provider.\nSTORED_VALUE_TRANSACTION - Stored Value Transaction Information associated with the Transaction.",
						"enum": [
							"SALE_OR_RETURN",
							"CONTROL",
							"CASH_OFFICE",
							"APEX_TRANSACTION",
							"TANK_FUEL_READING_TRANSACTION",
							"PUMP_FUEL_READING_TRANSACTION",
							"FUEL_DELIVERY_TRANSACTION",
							"PUMP_FUEL_TEST_TRANSACTION",
							"CUSTOM_TRANSACTION",
							"STORED_VALUE_TRANSACTION"
						]
					},
					"transactionNumber": {
						"type": "string",
						"description": "Transaction number based on POS (fully up to POS whether this is unique within a site or business day or terminal or all)."
					},
					"transactionReason": {
						"type": "string",
						"description": "Specified reason for a transaction"
					}
				},
				"description": "The generic type of canonical tlog object."
			},
			"CanonicalTLogUpdateData": {
				"required": [
					"dataProviderName",
					"dataProviderVersion",
					"openDateTimeUtc",
					"siteInfo",
					"tlog",
					"touchPointId",
					"transactionCategory",
					"transactionNumber",
					"transactionVersion"
				],
				"type": "object",
				"properties": {
					"businessDay": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"closeDateTimeUtc": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"configurationDateTimeUtc": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"customProperties": {
						"type": "object",
						"additionalProperties": {
							"type": "object",
							"description": "Custom Properties contains a list of fields that is unique to a data provider. Each data provider may have their own list of fields very specific to them. Fields appearing are not in global TDM model and are not part of it for all the maps"
						},
						"description": "Custom Properties contains a list of fields that is unique to a data provider. Each data provider may have their own list of fields very specific to them. Fields appearing are not in global TDM model and are not part of it for all the maps"
					},
					"dataProviderName": {
						"type": "string",
						"description": "Name of the originating system or channel that provided the transaction. e.g. 'Aloha'"
					},
					"dataProviderVersion": {
						"type": "string",
						"description": "Version of the originating system or channel that provided the transaction. e.g. '16.2'"
					},
					"documentExpirationDate": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"id": {
						"pattern": "[0-9a-zA-Z-]+",
						"type": "string",
						"description": "Primary unique opaque identification of the transaction"
					},
					"isTrainingMode": {
						"type": "boolean",
						"description": "Flag indicating training mode. Allows this document to be excluded from data processing."
					},
					"isUpdated": {
						"type": "boolean",
						"description": "Indicates if this transaction is an update. This defaults to `true`."
					},
					"linkedTransactions": {
						"type": "array",
						"description": "List of linked (related) transactions",
						"items": {
							"$ref": "#/components/schemas/LinkedTransactionInfo"
						}
					},
					"modelVersion": {
						"type": "integer",
						"description": "Version of the model.",
						"format": "int32"
					},
					"openDateTimeUtc": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"participatingTouchPoints": {
						"type": "array",
						"description": "List of touch points participating with the transaction.",
						"items": {
							"$ref": "#/components/schemas/TouchPointInfo"
						}
					},
					"siteInfo": {
						"$ref": "#/components/schemas/SiteInfo"
					},
					"tlog": {
						"$ref": "#/components/schemas/CanonicalTransaction"
					},
					"touchPointGroup": {
						"type": "string",
						"description": "A logical grouping of touch point. A Touchpoint can be any client, e.g. a POS Terminal, Self Checkout."
					},
					"touchPointId": {
						"type": "string",
						"description": "The ID of the last terminal / touch point / POS id where the transaction occurred. Unique within the site."
					},
					"touchPointType": {
						"type": "string",
						"description": "The last front end register type in which the transaction was performed such as: POS, Mobile, e-Commerce, fuel POS etc."
					},
					"transactionAccountability": {
						"$ref": "#/components/schemas/AccountabilityInfo"
					},
					"transactionCategory": {
						"type": "string",
						"description": "The category of the transaction.\n SALE_OR_RETURN - are transaction that deals with sale or return of items.\n CONTROL - this transaction mainly deals with non-monetary related transactions like Cashier checking in to a POS.\n CASH_OFFICE - deals with movement of money from one location to another. \n APEX_TRANSACTION - transaction that captures travel information. \n TANK_FUEL_READING_TRANSACTION - transaction that captures information related to Tank readings. \n PUMP_FUEL_READING_TRANSACTION - transaction that captures information related to Pump readings. \n FUEL_DELIVERY_TRANSACTION - transaction that captures information related to Tank deliveries. \nPUMP_FUEL_TEST_TRANSACTION - transaction captures information related to Pump testing and calibrations. \nCUSTOM_TRANSACTION - A custom transaction that can represent transactions from POS that are not \nrepresented by other transaction categories. Contains data that is not part of TDM model and that is custom to each data provider.\nSTORED_VALUE_TRANSACTION - Stored Value Transaction Information associated with the Transaction.",
						"enum": [
							"SALE_OR_RETURN",
							"CONTROL",
							"CASH_OFFICE",
							"APEX_TRANSACTION",
							"TANK_FUEL_READING_TRANSACTION",
							"PUMP_FUEL_READING_TRANSACTION",
							"FUEL_DELIVERY_TRANSACTION",
							"PUMP_FUEL_TEST_TRANSACTION",
							"CUSTOM_TRANSACTION",
							"STORED_VALUE_TRANSACTION"
						]
					},
					"transactionNumber": {
						"type": "string",
						"description": "Transaction number based on POS (fully up to POS whether this is unique within a site or business day or terminal or all)."
					},
					"transactionReason": {
						"type": "string",
						"description": "Specified reason for a transaction"
					},
					"transactionVersion": {
						"minimum": 0,
						"type": "integer",
						"description": "Revision Version of the transaction.",
						"format": "int64"
					},
					"updateDateTimeUtc": {
						"$ref": "#/components/schemas/DateTimeInfo"
					}
				},
				"description": "List of one or more CanonicalTLogUpdateData"
			},
			"CanonicalTLogViewData": {
				"required": [
					"dataProviderName",
					"dataProviderVersion",
					"openDateTimeUtc",
					"siteInfo",
					"tlog",
					"touchPointId",
					"transactionCategory",
					"transactionNumber"
				],
				"type": "object",
				"properties": {
					"businessDay": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"closeDateTimeUtc": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"configurationDateTimeUtc": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"customProperties": {
						"type": "object",
						"additionalProperties": {
							"type": "object",
							"description": "Custom Properties contains a list of fields that is unique to a data provider. Each data provider may have their own list of fields very specific to them. Fields appearing are not in global TDM model and are not part of it for all the maps"
						},
						"description": "Custom Properties contains a list of fields that is unique to a data provider. Each data provider may have their own list of fields very specific to them. Fields appearing are not in global TDM model and are not part of it for all the maps"
					},
					"dataProviderName": {
						"type": "string",
						"description": "Name of the originating system or channel that provided the transaction. e.g. 'Aloha'"
					},
					"dataProviderVersion": {
						"type": "string",
						"description": "Version of the originating system or channel that provided the transaction. e.g. '16.2'"
					},
					"documentExpirationDate": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"id": {
						"pattern": "[0-9a-zA-Z-]+",
						"type": "string",
						"description": "Primary unique opaque identification of the transaction"
					},
					"isTrainingMode": {
						"type": "boolean",
						"description": "Flag indicating training mode. Allows this document to be excluded from data processing."
					},
					"isUpdated": {
						"type": "boolean",
						"description": "This flag indicates that this transaction is an updated transaction."
					},
					"linkedTransactions": {
						"type": "array",
						"description": "List of linked (related) transactions",
						"items": {
							"$ref": "#/components/schemas/LinkedTransactionInfo"
						}
					},
					"modelVersion": {
						"type": "integer",
						"description": "Version of the model.",
						"format": "int32"
					},
					"openDateTimeUtc": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"participatingTouchPoints": {
						"type": "array",
						"description": "List of touch points participating with the transaction.",
						"items": {
							"$ref": "#/components/schemas/TouchPointInfo"
						}
					},
					"scrubbedDateTimeUtc": {
						"$ref": "#/components/schemas/DateTimeInfo"
					},
					"siteInfo": {
						"$ref": "#/components/schemas/SiteInfo"
					},
					"tlog": {
						"$ref": "#/components/schemas/CanonicalTransaction"
					},
					"touchPointGroup": {
						"type": "string",
						"description": "A logical grouping of touch point. A Touchpoint can be any client, e.g. a POS Terminal, Self Checkout."
					},
					"touchPointId": {
						"type": "string",
						"description": "The ID of the last terminal / touch point / POS id where the transaction occurred. Unique within the site."
					},
					"touchPointType": {
						"type": "string",
						"description": "The last front end register type in which the transaction was performed such as: POS, Mobile, e-Commerce, fuel POS etc."
					},
					"transactionAccountability": {
						"$ref": "#/components/schemas/AccountabilityInfo"
					},
					"transactionCategory": {
						"type": "string",
						"description": "The category of the transaction.\n SALE_OR_RETURN - are transaction that deals with sale or return of items.\n CONTROL - this transaction mainly deals with non-monetary related transactions like Cashier checking in to a POS.\n CASH_OFFICE - deals with movement of money from one location to another. \n APEX_TRANSACTION - transaction that captures travel information. \n TANK_FUEL_READING_TRANSACTION - transaction that captures information related to Tank readings. \n PUMP_FUEL_READING_TRANSACTION - transaction that captures information related to Pump readings. \n FUEL_DELIVERY_TRANSACTION - transaction that captures information related to Tank deliveries. \nPUMP_FUEL_TEST_TRANSACTION - transaction captures information related to Pump testing and calibrations. \nCUSTOM_TRANSACTION - A custom transaction that can represent transactions from POS that are not \nrepresented by other transaction categories. Contains data that is not part of TDM model and that is custom to each data provider.\nSTORED_VALUE_TRANSACTION - Stored Value Transaction Information associated with the Transaction.",
						"enum": [
							"SALE_OR_RETURN",
							"CONTROL",
							"CASH_OFFICE",
							"APEX_TRANSACTION",
							"TANK_FUEL_READING_TRANSACTION",
							"PUMP_FUEL_READING_TRANSACTION",
							"FUEL_DELIVERY_TRANSACTION",
							"PUMP_FUEL_TEST_TRANSACTION",
							"CUSTOM_TRANSACTION",
							"STORED_VALUE_TRANSACTION"
						]
					},
[...]
